:root {
    --red: #dc413e;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.inner-container,
section {
  padding: 1rem;
}

/* - Typography -  */

h2,
h3 {
  color: var(--red);
  text-transform: uppercase;
  font-size: 3.75rem;
  font-weight: 200;
}

h3 {
  font-size: 2.5rem;
}

p {
  margin-bottom: 1.5rem;
}


/* - Header -  */

header {
  background-color: #000;
}

header svg {
  width: 4.6875rem;
  fill: #fff;
}

header {
  position: sticky;
  top: 0;
}

.menu {
  display: flex;
  flex-wrap: wrap;
}

.menu a{
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding: 0 0.5rem;
}

.menu a:hover,
.menu a:active {
  color: var(--red);
}

.menu li {
  line-height: 2.1875rem;
  text-align: center;
  flex: 1 0 50%;

}

fieldset {
  border: none;
}

fieldset div {
  margin: 0 1rem;
}

label {
  display: block;
  text-transform: uppercase;
  font-size: 1.875rem;
}

form div {
  margin-bottom: 1.5rem;
}

input,
textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  box-shadow: 2px 2px 3px #e8e8e8;
}

textarea {
  resize: vertical;
  min-height: 18.75rem;
}

/* todo rezsize checkbox to 24px x '' and place the label on the right */

input[type=submit] {
  display: flex;
  justify-content: flex-start;
  background-color: #fff;
  border: none;
  box-shadow: none;
  text-transform: uppercase;
  font-size: 1.875rem;
  transition: padding-left 1s ease;
}

input[type=submit]:hover {
  cursor: pointer;
  color: var(--red);
  padding-left: 1.25rem;
}

.accept-checkbox {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  gap: 0.5rem;
}

.accept-checkbox input {
  width: 24px;
  height: 24px;
}

.accept-checkbox label {
  font-size: 1rem;
}

@media only screen and (min-width: 450px) {
  .menu li {
    flex: 0 0 auto;
  }

}

@media only screen and (min-width: 1260px) {
  .inner-container,
  section {
    max-width: 1200px;
    padding: 1rem 0;
    margin: 0 auto;
  }

  fieldset {
    display: flex;
    flex-wrap: wrap;
  }

  fieldset div {
    flex: 1 0 40%;
  }

  textarea {
    width: 50%;
  }
}
